### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
numberofplayers = purchase_data["SN"].nunique()

numberofplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
#Unique Items

unique_items = purchase_data["Item Name"].value_counts()
unique_items

Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Fiery Glass Crusader                             9
Extraction, Quickblade Of Trembling Hands        9
Persuasion                                       9
Shadow Strike, Glory of Ending Hope              8
Pursuit, Cudgel of Necromancy                    8
Wolf                                             8
Winter's Bite                                    8
Retribution Axe                                  8
Brutality Ivory Warmace                          8
Singed Scalpel                                   8
Lightning, Etcher of the King                    8
Oathbreaker, Spellblade of Trials                7
Thorn, Satchel of Dark Souls                     7
Vengeance Cleaver                                7
Glimmer, Ender of the Moon                       7
Demise                                           7
Exiled Doomblade                                 7
Malificent Bag                                   7
Heartstriker, Legacy of the Light                7
Suspension                                       7
Phantomlight                                     6
Verdict                                          6
Eternal Cleaver                                  6
Avenger                                          6
Frenzied Scimitar                                6
Second Chance                                    6
Apocalyptic Battlescythe                         6
                                                ..
Curved Axe                                       2
Foul Edge                                        2
Flux, Destroyer of Due Diligence                 2
Heartseeker, Reaver of Souls                     2
Frenzy, Defender of the Harvest                  2
Whistling Mithril Warblade                       2
Winterthorn, Defender of Shifting Worlds         2
Stormfury Longsword                              2
Unholy Wand                                      2
Darkheart, Butcher of the Champion               2
Sun Strike, Jaws of Twisted Visions              2
Rusty Skull                                      2
Dreamkiss                                        2
Trickster                                        2
Torchlight, Bond of Storms                       2
Rage, Legacy of the Lone Victor                  2
Relentless Iron Skewer                           2
Possessed Core                                   2
Spectral Diamond Doomblade                       2
Stormfury Mace                                   2
Alpha, Reach of Ending Hope                      1
Gladiator's Glaive                               1
Exiled Mithril Longsword                         1
Celeste                                          1
Undead Crusader                                  1
Riddle, Tribute of Ended Dreams                  1
Betrayer                                         1
Endbringer                                       1
Ghost Reaver, Longsword of Magic                 1
The Decapitator                                  1
Name: Item Name, Length: 179, dtype: int64

In [7]:
#Average Price 

average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [8]:
# Total Number of Purchases

totalnumber = purchase_data["Purchase ID"].count()
totalnumber

780

In [9]:
# Total Revenue

totalrevenue = purchase_data["Price"].sum()
totalrevenue

2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
# Male Percentage 

sn_gender = purchase_data[["SN", "Gender"]]
sn_gender

malegender = sn_gender.loc[purchase_data['Gender'] == "Male"]


malepercentage = malegender.nunique() / purchase_data["SN"].nunique() * 100
malepercentage

SN        84.027778
Gender     0.173611
dtype: float64

In [11]:
# Female Percentage

femalegender = sn_gender.loc[purchase_data['Gender'] == "Female"]
femalepercent = femalegender.nunique() / purchase_data["SN"].nunique() * 100

femalepercent

SN        14.062500
Gender     0.173611
dtype: float64

In [12]:
# Count of other non-disclosed

other_count = sn_gender.loc[purchase_data['Gender'] == "Other / Non-Disclosed"]
other_count.nunique()
other_percent = round(other_count.nunique() / purchase_data["SN"].nunique() * 100)
other_percent

SN        2.0
Gender    0.0
dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
# Purchasing Analysis

,Normalized Total,Purchase Count,Total Purchase Value,Average Purchase Value
Gender,,,,
Female,0.628368,113,361.94,3.203009
Male,3.416042,652,1967.64,3.017853
Other / Non-Disclosed,0.087135,15,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [1]:
purchase_data["Age Ranges"] = purchase_data.(numberofplayers["Age"], age_bin, labels=group_names)
numberofplayers.head()

SyntaxError: invalid syntax (<ipython-input-1-c0d11863a4c5>, line 1)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [2]:
#Basic Calculations


# Convert to Data Frame

NameError: name 'purchase_data' is not defined

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [21]:
user_total = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"]
user_total.head()

Item ID  Item Name
0        Splinter               5.12
1        Crucifer               9.78
2        Verdict               14.88
3        Phantomlight          14.94
4        Bloodlord's Fetish     8.50
Name: Price, dtype: float64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame